@keyframes notice-me {
  0% {
    filter: brightness(100%);
  }

  30% {
    filter: brightness(120%);
  }

  100% {
    filter: brightness(100%);
  }
}

.notice-me-senpai {
  animation: 600ms ease-out notice-me;
}

$light: 255;
$dark: 0;
$opacity: 0.7;

.bg-gradient-corner-light {
  background-image: linear-gradient(
    to bottom left,
    rgba($light, $light, $light, $opacity),
    rgba($light, $light, $light, 0) 50%
  );
}

.bg-gradient-corner-dark {
  background-image: linear-gradient(
    to bottom left,
    rgba($dark, $dark, $dark, $opacity),
    rgba($dark, $dark, $dark, 0) 50%
  );
}

// Slider

.slider {
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

.slide {
  scroll-snap-align: start;
  scroll-behavior: smooth;
}
